    <div class = "row" style="height:25vh">
        <div class="col-md-6">
            <div class="content-div">
                <h2>Screen Proximity</h2>
                <canvas id="proximity" style="width: 90%; height: 90%"></canvas>
                <script>
                    var ctx = document.getElementById("proximity");
                    var values = {{proximity_data}};
                    var indices = [...Array(values.length).keys()];
                    var threshold = 7;
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: indices,
                        datasets: [
                        {
                            label: "Value",
                            data: values,
                            borderColor: 'rgb(200, 0, 20)',
                            borderWidth: 1.3,
                            fill: false,
                            lineTension: 0
                        }
                        ]
                    },
                    options: {
                        responsive: true, 
                        maintainAspectRatio: false,
                        "horizontalLine": [{
                        "y": threshold,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "threshold"
                        }, {
                        "y": values[0],
                        "style": "rgba(0, 255, 0, .4)",
                        "text": "base",
                        "fontSize": 14
                        }],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 14,
                                }
                            }]
                        }                    }
                    });
                </script>
            </div>                  
        </div>
        <div class = "col-md-6">
            <div class="content-div">
                <h2>Slump Detection</h2>
                <canvas id="slump" style="width: 90%; height: 90%"></canvas>
                <script>
                    var ctx = document.getElementById("slump");
                    var values = {{slump_data}};
                    var indices = [...Array(values.length).keys()];
                    var threshold = 7;
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: indices,
                        datasets: [
                        {
                            label: "Value",
                            data: values,
                            borderColor: 'rgb(200, 0, 20)',
                            borderWidth: 1.3,
                            fill: false,
                            lineTension: 0
                        }
                        ]
                    },
                    options: {
                        responsive: true, 
                        maintainAspectRatio: false,
                        "horizontalLine": [{
                        "y": threshold,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "threshold"
                        }, {
                        "y": values[0],
                        "style": "rgba(0, 255, 0, .4)",
                        "text": "base",
                        "fontSize": 14
                        }],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 14,
                                }
                            }]
                        }                    }
            
                    });
                </script>
            </div>
        </div>
    </div>
    <div class = "row"  style="height:25vh">
        <div class="col-md-6">
            <div class="content-div">
                <h2>Forward Tilt</h2>
                <canvas id="forward-tilt" style="width: 90%; height: 90%"></canvas>
                <script>
                    var ctx = document.getElementById("forward-tilt");
                    var values = {{forward_tilt_data}};
                    var indices = [...Array(values.length).keys()];
                    var threshold = 7;
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: indices,
                        datasets: [
                        {
                            label: "Value",
                            data: values,
                            borderColor: 'rgb(200, 0, 20)',
                            borderWidth: 1.3,
                            fill: false,
                            lineTension: 0
                        }
                        ]
                    },
                    options: {
                        responsive: true, 
                        maintainAspectRatio: false,
                        "horizontalLine": [{
                        "y": threshold,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "threshold",
                        "fontSize": 14
                        }, {
                        "y": values[0],
                        "style": "rgba(0, 255, 0, .4)",
                        "text": "base",
                        "fontSize": 14
                        }],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 14,
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-div">
                <h2>Head Tilt</h2>
                <canvas id="head-tilt" style="width: 90%; height: 90%"></canvas>
                <script>
                    var ctx = document.getElementById("head-tilt");
                    var values = {{head_tilt_data}};
                    var indices = [...Array(values.length).keys()];
                    var threshold = 7;
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: indices,
                        datasets: [
                        {
                            label: "Value",
                            data: values,
                            borderColor: 'rgb(200, 0, 20)',
                            borderWidth: 1.3,
                            fill: false,
                            lineTension: 0
                        }
                        ]
                    },
                    options: {
                        responsive: true, 
                        maintainAspectRatio: false,
                        "horizontalLine": [{
                        "y": threshold,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "threshold"
                        }, {
                        "y": values[0],
                        "style": "rgba(0, 255, 0, .4)",
                        "text": "base",
                        "fontSize": 14
                        }],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 14,
                                }
                            }]
                        }                    }
            
                    });
                </script>
            </div>
        </div>
    </div>
    <div class = "row"  style="height:25vh">
        <div class="col-md-6">
            <div class="content-div">
                <h2>Shoulder Tilt</h2>
                <canvas id="shoulder-tilt" style="width: 90%; height: 90%"></canvas>
                <script>
                    var ctx = document.getElementById("shoulder-tilt");
                    var values = {{shoulder_tilt_data}};
                    var indices = [...Array(values.length).keys()];
                    var threshold = 7;
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: indices,
                        datasets: [
                        {
                            label: "Value",
                            data: values,
                            borderColor: 'rgb(200, 0, 20)',
                            borderWidth: 1.3,
                            fill: false,
                            lineTension: 0
                        }
                        ]
                    },
                    options: {
                        responsive: true, 
                        maintainAspectRatio: false,
                        "horizontalLine": [{
                        "y": threshold,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "threshold"
                        }, {
                        "y": values[0],
                        "style": "rgba(0, 255, 0, .4)",
                        "text": "base",
                        "fontSize": 14
                        }],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 14,
                                }
                            }]
                        }                    }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-div">
                <h2>Shoulder Width</h2>
                <canvas id="shoulder-width" style="width: 90%; height: 90%"></canvas>
                <script>
                    var ctx = document.getElementById("shoulder-width");
                    var values = {{shoulder_width_data}};
                    var indices = [...Array(values.length).keys()];
                    var threshold = 7;
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: indices,
                        datasets: [
                        {
                            label: "Value",
                            data: values,
                            borderColor: 'rgb(200, 0, 20)',
                            borderWidth: 1.3,
                            fill: false,
                            lineTension: 0
                        }
                        ]
                    },
                    options: {
                        responsive: true, 
                        maintainAspectRatio: false,
                        "horizontalLine": [{
                        "y": threshold,
                        "style": "rgba(255, 0, 0, .4)",
                        "text": "threshold"
                        }, {
                        "y": values[0],
                        "style": "rgba(0, 255, 0, .4)",
                        "text": "base",
                        "fontSize": 14
                        }],
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                    fontSize: 14,
                                }
                            }]
                        }                    }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
