@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open%20Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.col-md-12 {
    width: 100%;
}

.row {
    height: 400px;
}

.col-md-6 {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 250px;
}

h1 {
    font-size: 72px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h4 {
    font-size: 18px;
    text-align: center;
}

#overall-title {
    padding-left: 50px;
    padding-right: 50px;
}
